/*
  该文件用于引入全局图标
  //at.alicdn.com/t/font_1603324_3xs71y5aleq.css
*/

@import url(https://at.alicdn.com/t/font_1603324_qolp7yb11w.css);

/* @font-face {
  font-family: "app-iconfont"; \/* Project id 1603324 *\/
  src: url("app-iconfont.ttf?t=1636445400304") format("truetype");
} */
/* 
.iconfont {
  font-family: "app-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconright:before {
  content: "\e7eb";
}

.iconleft:before {
  content: "\e7f0";
}

.iconxingxing1:before {
  content: "\e641";
}

.iconxiajiang:before {
  content: "\e617";
}

.iconzhiding:before {
  content: "\e704";
}

.iconTrash:before {
  content: "\e65a";
}

.icontuding:before {
  content: "\e6ca";
}

.iconback:before {
  content: "\e635";
}

.iconwenjianjia:before {
  content: "\e615";
}

.iconh5-qudao:before {
  content: "\e63a";
}

.icontuichu:before {
  content: "\e634";
}

.iconwailian:before {
  content: "\e614";
}

.iconshibai:before {
  content: "\e74e";
}

.iconwu:before {
  content: "\e630";
}

.iconchenggong:before {
  content: "\e89a";
}

.iconcode:before {
  content: "\e61e";
}

.iconchakan:before {
  content: "\e612";
}

.iconrun:before {
  content: "\e633";
}

.iconzujian1:before {
  content: "\ea1b";
}

.iconjianrongxing:before {
  content: "\ecbc";
}

.icondingzhi:before {
  content: "\e611";
}

.iconwindows:before {
  content: "\e74d";
}

.iconmessage:before {
  content: "\e73f";
}

.iconadd:before {
  content: "\e610";
}

.iconcomment:before {
  content: "\e661";
}

.icondiff:before {
  content: "\e613";
}

.iconshezhi:before {
  content: "\e60e";
}

.iconellipsis2:before {
  content: "\e701";
}

.iconicon-test:before {
  content: "\e616";
}

.iconchecked:before {
  content: "\eb2d";
}

.iconcloud-checked:before {
  content: "\e60d";
}

.iconcloud-network:before {
  content: "\e6d5";
}

.iconmax:before {
  content: "\e608";
}

.iconrecover:before {
  content: "\e60a";
}

.iconclose1:before {
  content: "\e60b";
}

.iconmin:before {
  content: "\e60c";
}

.icondelete:before {
  content: "\e61a";
}

.iconmenu:before {
  content: "\e620";
}

.iconshare:before {
  content: "\e631";
}

.iconclose:before {
  content: "\e607";
}

.icontaobao:before {
  content: "\e64f";
}

.icontaobao1:before {
  content: "\e632";
}

.iconfresh:before {
  content: "\e62f";
}

.iconyonghu:before {
  content: "\e61d";
}

.iconconnect:before {
  content: "\e659";
}

.iconfresh1:before {
  content: "\e688";
}

.icondisconnect-copy:before {
  content: "\e6de";
}

.iconloading:before {
  content: "\e606";
}

.icongengduo:before {
  content: "\e690";
}

.icontiaoshiqi:before {
  content: "\e691";
}

.iconkuawenjiansousuo:before {
  content: "\e692";
}

.iconzhenjitiaoshi:before {
  content: "\e693";
}

.iconfabu:before {
  content: "\e694";
}

.iconyulan:before {
  content: "\e695";
}

.iconh1:before {
  content: "\e696";
}

.iconyuandaimaguanli:before {
  content: "\e697";
}

.iconziyuanguanliqi:before {
  content: "\e698";
}

.iconkuozhanshichang:before {
  content: "\e699";
}

.iconyingyongxiangqing:before {
  content: "\e69a";
}

.iconpackage:before {
  content: "\e66e";
}

.iconios:before {
  content: "\e609";
}

.iconbeta1:before {
  content: "\e653";
}

.iconbeta2:before {
  content: "\e63f";
}

.iconbeta:before {
  content: "\e6bf";
}

.iconiconmac:before {
  content: "\e605";
}

.iconzhifubaoxiaochengxu:before {
  content: "\e670";
}

.iconhost:before {
  content: "\e62e";
}

.iconflash:before {
  content: "\e6f9";
}

.icondingtalk:before {
  content: "\e6ec";
}

.iconimgcook:before {
  content: "\e604";
}

.iconqrcode:before {
  content: "\e6e5";
}

.iconupload:before {
  content: "\eb2c";
}

.icondengchu:before {
  content: "\e602";
}

.iconsync:before {
  content: "\e603";
}

.iconarrow:before {
  content: "\e73a";
}

.iconrocket:before {
  content: "\e764";
}

.iconhuitui:before {
  content: "\e735";
}

.iconconfirm:before {
  content: "\e601";
}

.icondakai:before {
  content: "\e652";
}

.iconxinjian:before {
  content: "\e60f";
}

.iconh:before {
  content: "\e7bd";
}

.iconzujian:before {
  content: "\e600";
}

.iconxian-fang-fuwuduan:before {
  content: "\e675";
}

.iconfuwuduanxianshikongzhitai:before {
  content: "\e656";
} */
